<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jedfox.length</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>608318AB-B79F-4787-9D1E-44A5FDB3CAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8A75701-EC2F-4F07-95ED-3FA7A7CA3FBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jed Fox</string>
	<key>description</key>
	<string>Measures the length of the text passed as an argument</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Length</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>len</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>node -p "$(cat &lt;&lt; 'HERE'

(() =&gt; {
  const [, query] = process.argv;
  const length = [...query].length;
  const utf8 = new TextEncoder().encode(query);
  return JSON.stringify({
    items: [
      {
        uid: "length",
        title: `${length.toLocaleString()} character${length == 1 ? "" : "s"}`,
        subtitle: `Length of “${query}”`,
        arg: `${length}`,
        mods: {
          alt: {
            subtitle: `${utf8.length.toLocaleString()} UTF-8 bytes`,
            arg: `${utf8.length}`
          },
          'alt+shift': {
            subtitle: `${query.length.toLocaleString()} UTF-16 units`,
            arg: `${query.length}`
          },
        },
        icon: {
          type: "fileicon",
          path: "/System/Applications/Calculator.app",
        },
      },
    ],
  });
})();

HERE
)" -- $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/opt/homebrew/bin/node</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>608318AB-B79F-4787-9D1E-44A5FDB3CAF8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B8A75701-EC2F-4F07-95ED-3FA7A7CA3FBA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>608318AB-B79F-4787-9D1E-44A5FDB3CAF8</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>B8A75701-EC2F-4F07-95ED-3FA7A7CA3FBA</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/j-f1/alfred-workflows</string>
</dict>
</plist>
